<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs content">
      <h2>All Blogs</h2>

      <% if(blogs.length){ %> <% blogs.forEach(({id, title, snippet}) => {%>
        <a class="single" href="/blogs/<%=id%>">
          <h1 class="title"><%= title %></h1>
          <p class="snippet"><%= snippet %></p>
        </a>
      <% }) %> <% }else{ %>
      <p>There are no blogs to display</p>
      <%}%>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
